body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px; /* Increased padding for bottom space */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.header-left {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
}

.settings-icon {
    font-size: 24px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.content {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.chart-container {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    position: relative;
}

#doughnutChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#doughnutChartLabel {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000; /* Navbar color from the uploaded file */
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-item {
    margin: 0 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item i {
    font-size: 36px; /* Increased icon size to match the previous design */
    color: #eeeeee;
}

.nav-item:hover i {
    color: #ff9999;
}
