body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(255, 192, 203, 0.1);
}

.screen {
  padding: 20px;
}

.machine-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.machine {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: linear-gradient(to bottom right, #FF6EC7, #FFF200);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* white text */
  font-size: 24px;
  font-weight: bold;
  cursor: pointer; /* make it look like a button */
  padding: 10px;
  text-align: center;
}

.machine:hover {
  background-color: #ffb6c1; /* darker pink on hover */
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 20px; /* Reduced margin to make icons closer */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.nav-item i {
  color: #eeeeee;
}

.nav-item:hover i {
  color: #ff9999;
}
